<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre la página</title>
    <link rel="stylesheet" href="../scss/styles.scss"> 
</head>
<body>
    <header class="pg-header">
        <a href="../index.html" class="pg-title"><picture>
            <source srcset="../img/index.png?as=webp&width=150" type="image/webp" />
            <img src="../img/index.png?width=150" alt="Universitat Oberta de Catalunya" class="profile-picture" />
        </picture></a>
        <nav class="pg-nav">
            <ul>
                <li><a href="bio.html">Biografia</a></li>
                <li><a href="about.html">Sobre la página</a></li>
                <li><a href="">Anexo</a></li>
            </ul>
        </nav>
    </header>
    <main class="containers">
        <h1>
            Sobre la página
        </h1>
        <p>
            One Piece es una gran serie, y una de las más largas en la historia de la ficción, entre todos los personajes que han sido presentados 
            y desarrollados en ella, Usopp es sin duda uno de los mejores y de los más reales que existen. En esta página se desglosa la información
            de este personaje en cuatro apartados: Historia, personalidad, habilidades y relaciones.
        </p>
        <p>
            En el apartado de <span class="strong">historia</span> se cuentan todas las aventuras y sucesos por las que ha pasado el protagonista de 
            esta página, desde su pasado hasta la actualidad.
        </p>
        <p>
            La <span class="strong">personalidad</span> de Usopp es muy diferente a la de sus compañeros, en esta sección se analiza su personalidad y 
            actos la moldean hasta formarla consistentemente.
        </p>
        <p>
            Como todo personaje en una historia de acción, este debe tener sus <span class="strong">habilidades</span>, en su apartado se explican 
            en profundidad y cómo han evolucionado durante la historia.
        </p>
        <p>
            Finalmente, hace falta hacer mencion a sus <span class="strong">relaciones</span> con el resto de participantes de la obra, como se comporta con cada uno 
            y cuales le ayudan a mejorar como personaje.
        </p> 
    </main>    
    <footer class="pg-footer">
        <div>
            <p>2022 © <strong>Pol Brunet Font</strong></p>
            <p><a href="">Privacy Policy</a>   ·   <a href="">Cookie Policy</a>   ·   <a href="">Terms and conditions</a></p>
        </div>        
    </footer>
</body>
</html>