<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biografia</title>
    <link rel="stylesheet" href="../scss/styles.scss"> 
</head>
<body>
    <header class="pg-header">
        <a href="../index.html" class="pg-title"><picture>
            <source srcset="../img/index.png?as=webp&width=150" type="image/webp" />
            <img src="../img/index.png?width=150" alt="Universitat Oberta de Catalunya" class="profile-picture" />
        </picture></a>
        <nav class="pg-nav">
            <ul>
                <li><a href="bio.html">Biografia</a></li>
                <li><a href="about.html">Sobre la página</a></li>
                <li><a href="">Anexo</a></li>
            </ul>
        </nav>
      </header>
    <main class="containers">
        <h1>
            Biografia
        </h1>
        <p>¿Quieres conocer los mejores aspectos del mejor francotirador de la historia ficticia? Justo debajo puedes encontrar 
            los momentos más destacados de Usopp entre su personalidad,habilidades y relaciones.
        </p>
        <ul>
            <li><a href="./bio/story.html">Historia</a></li>
            <li><a href="./bio/personality.html">Personalidad</a></li>
            <li><a href="./bio/abilities.html">Habilidades</a></li>
            <li><a href="./bio/relations.html">Relaciones</a></li>                
        </ul>    
    </main>    
    <footer class="pg-footer">
        <div>
            <p>2022 © <strong>Pol Brunet Font</strong></p>
            <p><a href="">Privacy Policy</a>   ·   <a href="">Cookie Policy</a>   ·   <a href="">Terms and conditions</a></p>
        </div>        
    </footer>
</body>
</html>