<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anexo</title>
    <link rel="stylesheet" href="../scss/styles.scss"> 
</head>
<body>
    <header class="pg-header">
        <a href="../index.html" class="pg-title"><picture>
            <source srcset="../img/index.png?as=webp&width=150" type="image/webp" />
            <img src="../img/index.png?width=150" alt="Usopp Icon" class="profile-picture" />
        </picture></a>
        <nav class="pg-nav">
            <ul>
                <li><a href="bio.html">Biografia</a></li>
                <li><a href="about.html">Sobre la página</a></li>
                <li><a href="references.html">Anexo</a></li>
            </ul>
        </nav>
    </header>
    <main class="containers">
        <h1>
            Anexo
        </h1>
        <p>
            En este anexo se publican de donde se saca la información que se muestra en esta página
        </p>
        <ul>
            <li><span class="strong">Historia: </span><a href="https://onepiece.fandom.com/es/wiki/Usopp/Historia">One Piece Wiki</a></li>
            <li><span class="strong">Habilidades: </span><a href="https://onepiece.fandom.com/es/wiki/Usopp/Habilidades_y_poderes">One Piece Wiki</a></li>
            <li><span class="strong">Personalidad: </span><a href="https://onepiece.fandom.com/es/wiki/Usopp/Personalidad_y_relaciones">One Piece Wiki</a></li>
            <li><span class="strong">Relaciones: </span><a href="https://onepiece.fandom.com/es/wiki/Usopp/Personalidad_y_relaciones">One Piece Wiki</a></li>
        </ul>               
    </main>    
    <footer class="pg-footer">
        <div>
            <p>2022 © <strong>Pol Brunet Font</strong></p>
            <p><a href="">Privacy Policy</a>   ·   <a href="">Cookie Policy</a>   ·   <a href="">Terms and conditions</a></p>
        </div>        
    </footer>
</body>
</html>