<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habilidades</title>
    <link rel="stylesheet" href="../../scss/styles.scss"> 
</head>
<body>
    <header class="pg-header">
        <a href="../../index.html" class="pg-title"><picture>
            <source srcset="../../img/index.png?as=webp&width=150" type="image/webp" />
            <img src="../../img/index.png?width=150" alt="Universitat Oberta de Catalunya" class="profile-picture" />
        </picture></a>
        <nav class="pg-nav">
            <ul>
                <li><a href="../bio.html">Biografia</a></li>
                <li><a href="../about.html">Sobre la página</a></li>
                <li><a href="">Anexo</a></li>
            </ul>
        </nav>
      </header>
    <main class="containers">
        <h1>
            Habilidades
        </h1>
        <ol>
            <li><a href=#kabuto>Kabuto</a></li>
            <li><a href=#haki>Haki</a></li>
        </ol>
        <p>
            A pesar de no sobresalir en aptitudes físicas, Usopp, como su padre, posee una puntería excepcional; es capaz de darle a varias 
            personas sin fallar ni una vez a distancias en las que apenas son visibles, cosa que se nota especialmente en Enies Lobby cuando 
            consigue derrotar a Spandam (líder del CP9) y a sus soldados en la isla y lanza las llaves restantes a Franky (coincidiendo con la 
            parte de la canción de Sogeking incluso en el ojo de un ratón LOCK ON). Durante la saga Loguetown se consiguió unas gafas que aumentan 
            su campo de visión gracias al alférez Daddy Masterson.
        </p>
        <p>
            Usopp ha demostrado ser el tripulante con mayor rango de ataque y visión y el mejor atacando a distancia, seguido de Nico Robin (por 
            medio de su fruta del diablo) y Luffy (también por la fruta del diablo), aunque Zoro también puede atacar a distancia, no tiene un muy 
            amplio rango de ataque. Para atacar, Usopp utiliza un tirachinas y dispara pequeños proyectiles esféricos que él mismo fabricó y les 
            llama estrellas (Boshis). Cada estrella posee efectos distintos: las hay desde explosivas, de humo, de fuego, de púas y hasta de salsa 
            picante.
        </p>
        <p>
            También se ha visto utilizando huevos podridos, rocas y shurikens como munición. De vez en cuando, usa un martillo para golpear a sus 
            contrincantes, que aunque no parece muy eficaz, con él consiguió derrotar a Chew (de la banda de Arlong) y a Mr. 4 (de Baroque Works). 
            Además del martillo, utiliza un pequeño Pizarrón que lo rasga con las uñas para distraer enemigos. Entre sus tácticas con "mentiras" 
            están su Martillo de 5 toneladas y el de 10 toneladas, usados contra Mr.4 y Perona; el "Elástico de Usopp (Usopp Wagomu)", que no es 
            más que una simple liga de goma con la que distrae o engaña a sus enemigos, haciéndoles creer que va a realizar un ataque (usados 
            contra Hatchan, Chew y Arlong, este último no cayó en el engaño); el "Usopp Spell" que usó contra Enel y también contra Luffy, en 
            donde hace que sus contrincantes se imaginen cosas que él les dice (por ejemplo: "Un pedazo de papel te corta los nudillos de los 
            dedos" o "Cinco yagas en tus encías").
        </p>
        <p>
            Otro ataque que usa es "la muerte segura de la estrella de ketchup" con el que escupe ketchup de la boca para simular que escupe sangre 
            hacer dudar al oponente. Usado contra Luffy y Chew (este último creyó que Usopp había muerto por su ataque por lo cual se fue). Tras la 
            visita de los Sombreros de Paja a Skypiea, Usopp ha agregado a su arsenal los Diales que consiguió ahí.
        </p>
        <h2><a id="kabuto"></a>Kabuto</h2>
        <p>
            Recientemente, Usopp demostró una nueva creación en el ataque a la isla Enies Lobby: Un tirachinas gigante llamado Kabuto que utiliza 
            varias gomas y con el que consigue un increíble alcance, las características de esta arma se explican con más detalle en su pelea 
            contra Perona. Esta arma tiene incluso mayor alcance que los rifles de la marina y con él, combinado con su puntería, es una de las 
            armas más poderosas conocidas. Cuando la utiliza, por lo general, sus ataque tienen nombre de algún animal, insecto o flor; su técnica 
            especial, utilizar el "Dial de Fuego" de la isla del Cielo y un "boshi" de pólvora, al cual enciende y convierte en un gran pájaro de 
            fuego (Hissatsu Firebird Star). Cabe destacar que este tirachinas es desmontable, así Usopp puede transportarlo y utilizarlo cuando la 
            situación lo requiere. Además de estas habilidades, Usopp usa el "Impact Dial" de Skypiea: un Dial que absorbe los impactos más 
            poderosos y los devuelve a un contrincante, aunque Usopp solo lo usa en casos donde la batalla se torne intensa, ya que su débil brazo 
            no puede aguantar el impacto. También cabe mencionar que Usopp es un gran inventor y artista: creó el Clima Tact y luego el Perfect 
            Clima Tact para Nami que, usados correctamente, son armas altamente poderosas y junto al Kabuto, su actual arma, se consideran las dos 
            armas más poderosas hechas por Usopp hasta ahora. Además, Usopp fue el que dibujó el símbolo pirata que usa la banda de Luffy 
            actualmente.
        </p>    
        <p>
            Dos años después, Usopp aparece con un mejorado kabuto, llamado kabuto negro (escarabajo negro en japones), la utiliza comúnmente con 
            su forma pequeña cuando quiere acertar desde lejos utiliza un tamaño mas elevado. También hay que añadir a esta arma su munición, las 
            Pop Greens, descubiertas en el Archipiélago Boin donde entreno durante dichos años. Estas Pop Greens son semillas de plantas que 
            suelen ser mortíferas, como plantas carnívoras que crecen a una velocidad instantánea, aunque otra que ha aparecido utilizada por 
            Usopp es una enredadera gigante para parar una avalancha de rocas. Usopp dispara la semilla con su kabuto y allí crece la semilla.
        </p>          
        <h2><a id="haki"></a>Haki</h2>
        <p>
            Durante el arco de Dressrosa, Usopp pudo despertar su kenbunshoku haki en un exitoso intento de salvar a Luffy y a Law de Sugar, 
            disparando con una precisión milimétrica uno de sus proyectiles creados por Kanjuro desde su Kabuto Negro. Usopp, así pues, ya es un 
            usuario de Haki, aunque todavía no tiene un completo control sobre él ya que por el momento, sólo lo ha despertado durante su ataque 
            para noquear a Sugar.
        </p>
    </main>    
    <footer class="pg-footer">
        <div>
            <p>2022 © <strong>Pol Brunet Font</strong></p>
            <p><a href="">Privacy Policy</a>   ·   <a href="">Cookie Policy</a>   ·   <a href="">Terms and conditions</a></p>
        </div>        
    </footer>
</body>
</html>