<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personalidad</title>
    <link rel="stylesheet" href="../../scss/styles.scss"> 
</head>
<body>
    <header class="pg-header">
        <a href="../../index.html" class="pg-title"><picture>
            <source srcset="../../img/index.png?as=webp&width=150" type="image/webp" />
            <img src="../../img/index.png?width=150" alt="Usopp Icon" class="profile-picture" />
        </picture></a>
        <nav class="pg-nav">
            <ul>
                <li><a href="../bio.html">Biografia</a></li>
                <li><a href="../about.html">Sobre la página</a></li>
                <li><a href="../references.html">Anexo</a></li>
            </ul>
        </nav>
      </header>
    <main class="containers">
        <h1>
            Personalidad
        </h1>
        <ol>
            <li><a href=#usopp>Usopp</a></li>
            <li><a href=#sogeking>Sogeking</a></li>
        </ol>
        <h2><a id="usopp"></a>Usopp</h2>
        <p>
            Desde que fue presentado, Usopp ha sido cobarde, se le conoce por mentir constantemente y le gusta contar historias a amigos y 
            extraños por igual. En general, se le considera el más bromista de los Sombrero de Paja, así como el miembro más débil de la 
            tripulación. A pesar de su carácter cobarde, es altruista y compasivo, y se esfuerza por convertirse en un gran pirata y por 
            superarse a sí mismo. También se esfuerza por mantener la seguridad de la tripulación y por ayudar a sus compañeros a cumplir sus 
            propios sueños, además de los suyos.
        </p>   
        <div class="p-image">
            <p>
                Usopp es uno de los Piratas de Sombrero de Paja más sentimentales, y llora o pierde los nervios en momentos de tensión emocional. Al 
                principio de la serie, Usopp se asusta con facilidad, es ansioso, inseguro y miente compulsivamente. A diferencia de Nami (cuya 
                cobardía está relacionada con el mero hecho de querer seguir viva), la cobardía de Usopp era el resultado de su miedo e inseguridad, 
                especialmente cuando se enfrentaba a la incertidumbre. Usopp es capaz de dejar de lado su miedo en los momentos más desesperados: a 
                pesar de tener miedo, se enfrenta a esos temores por el bien de sus amigos y de la personas que apenas conoce.
            </p> 
            <div class="image">
                <picture>
                    <source srcset="../../img/uso-cry.gif" type="image/webp" />
                    <img src="../../img/uso-cry.gif" width="200px" alt="Usopp llorando" class="profile-picture" />
                </picture>
                <p>Usopp llorando pidiendo volver a la tripulación</p>
            </div>                   
        </div>                  
        <h2><a id="sogeking"></a>Sogeking</h2>
        <p>
            Sogeking es el alter ego de Usopp que desarrolló durante los arcos de Water 7 y Enies Lobby después de dejar la tripulación. Más 
            tarde, cuando vio a los demás intentando salvar a Robin, le hizo sentirse culpable por haberse ido, así que declaró a Sanji y Franky 
            que no podía ayudarles a luchar por esta razón. Se disfrazó apresuradamente con una máscara y una capa y empezó a llamarse «Sogeking». 
            Este nombre es un juego de palabras entre «sogeki» («francotirador» en japonés) y la palabra inglesa «king». La máscara característica de 
            Sogeking procede del tren marítimo Puffing Tom: cuando Sanji abandona el último vagón del tren, se ve la máscara sentada en una maleta abierta.
            Probablemente, la máscara se quedó en el festival de máscaras que se celebraba en una isla cercana en ese momento. El disfraz de Sogeking sólo 
            se completa cuando Usopp incorpora sus gafas favoritas en los agujeros de los ojos de la máscara.
        </p>
        <div class="p-image">
            <div class="image">
                <picture>
                    <source srcset="../../img/sogeking.jpg?as=webp&width=180" type="image/webp" />
                    <img src="../../img/sogeking.jpg?width=180" alt="Sogeking" class="profile-picture" />
                </picture>
                <p>Sogeking, el rey de los tiradores</p>
            </div>  
            <p>
                Como su alter ego, Usopp pudo combatir junto a los demás sin tener que abordar el tema de su abandono. Durante el tiempo que pasó como 
                Sogeking, Usopp empezó a darse cuenta de que, aunque era uno de los miembros más débiles de la tripulación, su papel como francotirador 
                de la tripulación y miembro de apoyo de la misma lo hacía más valioso de lo que pensaba. Al final, quedó registrado como Sogeking en su 
                cartel de búsqueda. El hecho de que el propio Usopp no sea técnicamente buscado por la ley le permite más tarde deslizarse a través de 
                las líneas enemigas aparentemente sin ser detectado, como se demuestra cuando Oars deja marchar a Usopp en un principio porque (siendo 
                la sombra de Luffy) Oars no lo reconoció como Sogeking.
            </p>                  
        </div>  
        <p>
            Durante su enfrentamiento con Perona, Usopp empezó a discutir dentro de su cabeza con su alter ego sobre su situación. Una vez que se 
            puso la máscara, ganó la confianza que le permitió derrotar a Kumashi. Esto indica que compartimenta este aspecto de sí mismo para 
            lidiar con el estrés de la situación.
        </p>
        <p>
            El auténtico Sogeking aún no ha aparecido desde el salto temporal de dos años. Sin embargo, durante el regreso de los Sombreros de Paja 
            al Archipiélago Sabaody, cuando Usopp y Nami se enfrentan a cuatro de los Sombreros de Paja falsos, Usopp ve la máscara que lleva el 
            Sogeking falso. Aunque dice «Sogeking», no se indica si simplemente se sorprende de que alguien se haga pasar por él o si realmente 
            cree que es el verdadero Sogeking, aunque cuando se reúne con Chopper, Usopp y Nami le dicen a Chopper que son impostores.
        </p>
        <div class="related">
            <h2>Podría interesarte</h2>
            <p><a href="relations.html">Relaciones</a></p>
        </div>
    </main>    
    <footer class="pg-footer">
        <div>
            <p>2022 © <strong>Pol Brunet Font</strong></p>
            <p><a href="">Privacy Policy</a>   ·   <a href="">Cookie Policy</a>   ·   <a href="">Terms and conditions</a></p>
        </div>        
    </footer>
</body>
</html>