<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biografia</title>
    <link rel="stylesheet" href="../../scss/styles.scss"> 
</head>
<body>
    <header class="pg-header">
        <a href="../../index.html" class="pg-title"><picture>
            <source srcset="../../img/index.png?as=webp&width=150" type="image/webp" />
            <img src="../../img/index.png?width=150" alt="Universitat Oberta de Catalunya" class="profile-picture" />
        </picture></a>
        <nav class="pg-nav">
            <ul>
                <li><a href="../bio.html">Biografia</a></li>
                <li><a href="">Sobre la página</a></li>
                <li><a href="">Anexo</a></li>
            </ul>
        </nav>
      </header>
    <main class="containers">
        <h1>
            Historia
        </h1>
        <ol>
            <li><a href=#past>Pasado</a></li>
            <li><a href=#arabasta>Arabasta</a></li>
            <li><a href=#water>Water 7</a></li>
            <li><a href=#thriller>Thriller Bark</a></li>
        </ol>
        <h2><a id="past"></a>Pasado</h2>
        <p>
            Usopp es el hijo de Yasopp, un pirata que es parte de la tripulación de Shanks,"el pelirrojo". Yasopp dejó a Usopp y 
            a su madre para volverse un pirata cuando Usopp era muy joven. Lejos de sentirle rencor, Usopp admiraba a su padre por haber seguido 
            su sueño. Luego, los orígenes de la tendencia de Usopp de decir mentiras son revelados por Merry, sirviente de Kaya: Un día, su madre 
            se enfermó gravemente y estaba muriendo. Usopp, para levantarle los ánimos, corría gritando que Yasopp había vuelto y que se los 
            llevaría a él y a su madre. Incluso después de morir, Usopp siguió corriendo por el pueblo diciendo que se acercaban los piratas. 
            Merry luego pensó que las mentiras de Usopp eran realmente sus sueños. Luego unos años más tarde, Usopp formó los Piratas de Usopp 
            que consistían en él y otros tres niños del pueblo: Ninjin, Tamanegi y Piiman. Usopp visitaba a escondidas a Kaya, la poseedora de 
            una mansión que siempre estaba enferma, y le contaba historias para que se animara.
        </p>    
        <p>
            Cuando los piratas Kuroneko (Gato Negro) atacaron la isla de Usopp, él junto con Luffy, Nami y Zoro, derrotaron a 
            ellos y su capitán: Kuro había pasado 3 años en la mansión de Kaya como su sirviente para ganarse su confianza y luego matarla para 
            quedarse con su fortuna. Tras la derrota de Kuro a manos de Luffy, Usopp desmantela su banda de piratas y se va de viaje por su propia 
            cuenta, pero Luffy lo invitó a unirse, a lo que él aceptó.
        </p>          
        <h2><a id="arabasta"></a>Arabasta</h2>
        <p>
            Los sombrero de paja vieron un gato marino Usopp y Luffy lo tratan de pescar utilizando de carnada a Carue pero en realidad pescaron 
            un Okama (travesti) llamado Bon Clay que en realidad es Mr.2 de Baroque Work pero ellos no lo saben así que Bon Clay los entretiene con 
            su habilidad de la Mane Mane no Mi que le da la habilidad se convertirse en diferentes personas si le ha tocado el rostro pero al 
            convertirse en el Rey Cobra de Arabasta Vivi se sorprende y después que Bon Clay se va del barco Vivi revela que ese Okama es Mr.2, 
            el grupo al saber que Mr.2 se puede transformar en toda la tripulación cada uno se vendan algo del brazo y debajo del vendaje una "x" 
            que les dice que son compañeros.
        </p>
        <p>
            La tripulación desembarca en Nanohana donde se encuentran con Smoker y Tashigi de nuevo pero para defenderlos apareció Portgas D. Ace 
            y después Luffy revela que es su hermano mayor después de unas aventuras en el desierto con Ace, Luffy se despide de su hermano pero 
            antes recibe una Vivre Card y llevan su barco cerca de la "Ciudad Verde" después de hacer frente a los peligros del desierto llega a 
            Yuba y se encuentran con Toto y amigo de la familia real y descubre que el ejército revolucionario se traslada a Yuba y el líder 
            rebelde Kohza, hijo de Toto y amigo de infancia de Vivi, atacara.
        </p>
        <p>
            La tripulación viaja a Rainbase para parar las obras de Baroque Work y Cocodrile pero vuelven a encontrase otra vez con Smoker y 
            Tashigi el grupo se dispersa en la ciudad para huir y perderlos pero dentro todos en un casino y hay son atrapados por Cocodrile junto 
            con Smoker, pero Sanji y Chopper se quedan afuera del casino en forma de pirámide y tratan de entrar para salvarlos, Usopp y Luffy 
            hacen tonterías dentro de la jaula gigante hecha de piedra marina Sanji los libera luego hay una inundación pero se salvan incluso 
            Smoker gracias a Luffy que le dice a Zoro que salve al Marine, Luego Smoker dice que va a dejar de perseguirlo en Arabasta pero a 
            penas los sombrero de paja salgan de la isla todo será como antes, el grupo sigue su camino a Alubarna la capital de Arabasta intenta 
            irse en un cangrejo gigante pero Cocodrile ataca a Vivi, Luffy la protege y les dice a Vivi y a los demás que sigan, Luffy se queda 
            luchando con Cocodrile, Luffy pierde la pelea mientras Usopp y llegan a Alubarna y tratan de distraer a los agentes de Baroque Work 
            disfrazándose con túnicas blancas lo que los agentes se ven confundidos y no saben quién es Vivi mientras la guerra entre los 
            revolucionario y el ejercito real empieza, Usopp se va con el camello Matsuge y Mr. 2 lo sigue y le da una paliza y le roba sus gafas 
            de francotirador, transformándose en Usopp Mr.2 busca a Vivi pero ella lo reconoce y huye Sanji pelea con Mr. 2. Chopper se encuentra 
            con Usopp pero los encuentran Miss Merry Christmas y Mr. 4 y luchan con ellos la pelea transcurre y Chopper y Usopp se desesperan por 
            lo fuertes que son sus rivales los agentes se burlan de ellos y le dicen que Luffy está muerto, a lo que Usopp se niega a creerle y le
            grita que Luffy se convertirá en el Rey de los Piratas, después de una intensa batalla Usopp y Chopper vencen a sus rivales.
        </p>
        <p>
            Más tarde los Sombreros de paja buscan las bombas que están en Alubarna Sanji le regresa a Usopp sus gafas de francotirador que las 
            recupero de Mr.2 , después descubren que la bomba está en la torre del reloj suben de una forma peligrosa y Vivi noquea a Mr.7, Vivi 
            saca la bomba pero se da cuenta que la bomba tiene un temporizador Vivi se desespera y llega Pell un guerrero de la guardia real se 
            transforma en halcón gracias a la Fruta Tori Tori: Modelo Halcón que le da la habilidad de convertirse en un halcón, el agarra la 
            bomba vuela hasta el cielo con ella y la bomba explota en el cielo.
        </p>
        <p>
            El ejercito real sigue luchando con los revolucionarios Vivi grita que se detengan todos pero nadie la escucha y se desespera y 
            comienza a llorar, Nami le grita Usopp, Chopper, Zoro y Sanji que hagan algo para parar la guerra luego Koza detiene la guerra 
            revelando que Cocodrile es el responsable del robo de la lluvia pero un agente de Baroque Work disfrazado de soldado real le dispara a 
            Koza lo que genera que la guerra siga entonces Cocodrilo se le ve saliendo despedido al cielo noqueado a lo que los sombrero de paja 
            gritan "Lo Hizo"(refiriéndose de que Luffy venciera a Cocodrilo) Usopp llora de alegría y la guerra para cuando Cocodrile cae en medio 
            del campo de batalla.
        </p>
        <p>
            Usopp, Zoro, Nami, Sanji y Chopper corren a esconderse cuando la Marina llega a arrestar a Crocodile con Tashigi al frente del 
            arresto, ellos se esconde en un callejón a descansar pero llega el Rey Cobra llevando a Luffy en su espalda Sanji le dice que ese es 
            su compañero luego que Arabasta está en paz los sombrero de paja se quedan descansando en el castillo. Después de descansar y comer 
            deciden cuando irse pero quieren que Vivi se valla con ellos al día siguiente ellos abandonan el castillo y ese mismo día Vivi daría 
            un discurso al pueblo, los sombrero de paja llegan a su barco que estaba siendo cuidado por Bon Clay (Mr.2), se hacen amigos de él, 
            después llega la Marina y la capitana Hina, Bon Clay se ofrece a distraer a los marines mientras ellos escapan Hina atrapa Bon Clay y 
            su tripulación de okamas, supuestamente aparece Vivi en el castillo dando un discurso de un barco y una tripulación que la acogió como 
            su amiga y la trajo a Arabasta pero en verdad Vivi está dando el discurso desde la costa y el que está en balcón del castillo es 
            Igaram disfrazado de Vivi otra vez, Los sombrero de paja ven a Vivi les grita que "Solo vine para despedirme", los sombreros de paja 
            se despiden mostrando de Vivi mostrando sus "X" marcadas en sus brazos que los identifican como compañeros.
        </p>
        <h2><a id="water">Water 7</a></h2>
        <p>
            En una parte de la historia, al llegar a Water 7, Usopp abandona la banda de los "Sombrero de Paja", ya que estos iban a cambiar el 
            Going Merry ya que estaba muy deteriorado y no podía navegar mucho más. Éste fue el motivo por el que se enfrenta a Luffy en un duelo 
            que pierde de manera irremediable (el tripulante más poderoso contra el más débil). A pesar de perder el combate, Usopp exhibió una 
            ferocidad y una inteligencia nunca vistas en este personaje. Conocedor de las habilidades de Luffy, le acribilló con ristras de 
            shurikens y demás armas cortantes para dañar su cuerpo de goma. Provocó una enorme explosión utilizando un dial de gas y un proyectil 
            de fuego. Llegó incluso a utilizar un Impact Dial, de gran poder, pero que redunda en alto grado de daño para el usuario. Aunque Luffy 
            le venció, consintió que se quedara con el Going Merry.
        </p>
        <p>
            Luego llegó la conspiración del CP9, y con ello, la captura de Nico Robin. A causa de las desesperadas circunstancias, Usopp presta su 
            ayuda en el asalto a Enies Lobby bajo el alias y disfraz de "Sogeking" (Rey De Los Tiradores). A pesar de lo furioso que estaba con 
            toda la tripulación, y en especial con Luffy, no dudó ni un instante en quemar la bandera del gobierno mundial cuando Luffy se lo 
            pidió. Usopp disparó un proyectil que tomó la forma de un fénix que impactó sobre la bandera del gobierno mundial. Y a pesar de estar 
            especialmente enfadado con él, apoyó a Luffy a seguir luchando contra Rob Lucci (pues este parecía haberle derrotado), exponiendo su 
            vida al retar al miembro del CP9.
        </p>
        <p>
            Cuando el Going Merry fue a salvar a toda la tripulación, Usopp fue el primero en darse cuenta de su presencia (debido a que ya la 
            había sentido anteriormente en Skypiea). Cuando Going Merry llevó a la banda de regreso y se partió, Usopp consintió que Luffy quemara 
            el barco, ya que Iceburg (el jefe de Galley-LA) dijo que ya no tenía solución (pues la quilla se había partido completamente). Usopp 
            lloró mucho la pérdida de Going Merry. De regreso en Water 7, Usopp decidió regresar a la banda, pero aún sentía su orgullo herido. Es 
            por eso que practicaba cerca de las oficinas de Galley-La la forma de regresar a la banda. En una de esas prácticas, Sanji lo escuchó 
            y fue a comunicárselo a Luffy.
        </p>
        <h2><a id="thriller">Thriller Bark</a></h2>
        <p>
            Tras conocer a Brook; Usopp, Nami y Chopper se adentran en Thriller Bark por accidente. Allí conocen al Dr. Hogback y a Cindry. 
            Finalmente descubren que la isla está llena de zombies y en un descuido, los tres, se esconden dentro del zombie Kumashi de Perona.
        </p>
        <p>
            Escondidos, son testigos del poder de Moria y descubren el zombie de Luffy, Oars. Son descubiertos e intentan escapar pero Nami es 
            raptada por Absalom en la huida. Tras reunirse toda la tripulación deciden poner Thriller Bark patas arriba. Cuando se dirigían al 
            castillo, Oars cae destruyendo los puentes y haciendo que Sanji y Usopp caigan hacia donde estaban Franky y Zoro.
        </p>
        <p>
            Los cuatro llegan a la habitación de Perona que utiliza su poder para desanimar a la banda. Usopp es el único que resiste pues él 
            es ya negativo y el ataque no le afecta. Zoro, Sanji y Franky se larga dejando a Usopp al cargo de Perona.
        </p>
        <p>
            Usopp pasa muchas dificultades para derrotar a la princesa Fantasma pero con sus trucos y mentiras consigue dejarla fuera de combate.
        </p>
        <p>
            Más tarde se reúne con los demás para luchar contra Oars pero en la lucha la banda es casi derrotada. Usopp en un descuido lanza una 
            gran bolsa de sal a la boca de Oars, pero es inútil, pues Moria no lo se lo permitió. Es salvado junto con Nami por Nightmare Luffy 
            que derrota a Oars.
        </p>
        <p>
            Pero Oars se levanta de nuevo y la Banda prepara u plan para partir la columna de Oars y dejarlo KO. Usopp ayuda a Franky a crear un 
            aparato para dejar a Oars con los pies halados, sin poder moverse.
        </p>
        <p>
            Tras la derrota definitiva de Oars, Gecko Moria absorbe las sombras de Thriller Bark y se convierte en un monstruo de gran poder. 
            Luffy, en un intenso combate, lo derrota y se queda inconsciente. Pero llega otro Guerreo del Mar, Bartholomew Kuma, para eliminar a 
            la banda. Usa el ‘’Ursus Shock’’ para dejar KO a todos los habitantes de la isla. Sólo Zoro y Sanji quedan casi en pie.
        </p>
        <p>
            Tras la ida de Kuma, la banda celebra la incorporación de Brook a la banda y la derrota de Moria.
        </p>
    </main>    
    <footer class="pg-footer">
        <div>
            <p>2022 © <strong>Pol Brunet Font</strong></p>
            <p><a href="">Privacy Policy</a>   ·   <a href="">Cookie Policy</a>   ·   <a href="">Terms and conditions</a></p>
        </div>        
    </footer>
</body>
</html>