<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relaciones</title>
    <link rel="stylesheet" href="../../scss/styles.scss"> 
</head>
<body>
    <header class="pg-header">
        <a href="../../index.html" class="pg-title"><picture>
            <source srcset="../../img/index.png?as=webp&width=150" type="image/webp" />
            <img src="../../img/index.png?width=150" alt="Universitat Oberta de Catalunya" class="profile-picture" />
        </picture></a>
        <nav class="pg-nav">
            <ul>
                <li><a href="../bio.html">Biografia</a></li>
                <li><a href="../about.html">Sobre la página</a></li>
                <li><a href="">Anexo</a></li>
            </ul>
        </nav>
      </header>
    <main class="containers">
        <h1>
            Relaciones
        </h1>
        <ol>
            <li><a href=#trip>Tripulación</a></li>
            <li><a href=#kaya>Kaya</a></li>
            <li><a href=#pirates>Piratas de Usopp</a></li>
        </ol>
        <h2><a id="trip"></a>Tripulación</h2>
        <p>
            En la tripulación se lleva bien con todos en especial con Luffy y Chopper, quienes usualmente son sus compañeros de juegos durante el 
            tiempo libre que poseen los piratas mientras navegan entre islas. Luffy y Usopp tienen mucho en común, tienen la misma edad, presentan 
            algunos comportamientos infantiles y cada uno conoce y admira a uno de los piratas de la banda de Shanks (Shanks y Yasopp 
            respectivamente). Aunque su amistad llega a un punto crítico en la saga de Water 7, cuando Usopp abandona la tripulación 
            momentáneamente, e incluso ambos lloran finalizado su combate. Tras la saga Enies Lobby, Usopp se arrepiente de todo lo que ha dicho y 
            hecho y suplica que le permita regresar. Luffy se lo permite, gritando que tome su mano y regrese con ellos. Desde entonces, 
            continúan siendo buenos amigos. Usopp es uno de los dos actuales tripulantes a quienes Luffy confía su precioso sombrero de paja cuando 
            se encuentra en combate (el otro es Nami). Se podría considerar que Usopp es el mejor amigo de Luffy. En cuanto a su relación con 
            Chopper, Usopp es usualmente visto narrándole historias ficticias sobre sus aventuras en el mar, de manera similar a como lo hacía con 
            Kaya, y debido a su inocencia característica, Chopper no sólo le cree, sino que escucha las historias fascinado, a veces acompañado por 
            un igualmente emocionado Luffy. En Arabasta, Chopper y Usopp pelean juntos contra Mr. 4 y Miss Merry Christmas demostrando su fuerte 
            vínculo cuando vencen y Chopper llora al creer que Usopp estaba muerto (aunque sobrevive gracias a los conocimientos médicos de Chopper).
        </p>    
        <p>
            Zoro y Usopp no son vistos juntos muy a menudo. Cuando Robin se une a la tripulación, ellos dos son quienes se resisten más a esto, 
            aunque eventualmente ceden a su manera. Zoro ha sabido comprender, junto con Sanji, los motivos por los que Usopp no regresa con ellos 
            después de Enies Lobby, debido a que él también tiene su orgullo y lo comprende. Con Sanji también tiene una buena relación, el 
            cocinero fue quien supo manejar mejor que todos la situación en Water 7 durante el enfrentamiento entre Usopp y Luffy. Sanji demostró 
            su amistad con Usopp eventualmente en Arabasta, donde Bon Kurei había tomado las gafas de Usopp tras derrotarlo. Sanji se encarga de 
            derrotar a Bon Kurei para así recuperar dicho objeto, al cual Usopp le tiene mucho aprecio, y devolvérselo a Usopp. Más tarde en Enies 
            Lobby Sanji salva a Usopp de Jabra y le confiesa que Usopp es el único que puede salvar a Robin y que confía plenamente en él. Sin 
            embargo el cocinero tiende a molestarse por sus malos modos en la mesa y sus tonterías en momentos menos adecuados.
        </p>  
        <p>
            Con Nami es con quien comparte varios momentos cómicos, ya que ambos son "dos humanos comunes en un barco lleno de personas con poderes 
            sobrehumanos" (Según dijo Nami en Arabasta). Usopp fabrica el arma de Nami, el Clima Tact, ya que ella desea ser más fuerte para ayudar 
            a sus compañeros, y luego la perfecciona con los dials de Skypiea, para así convertirlo en el Perfect Clima Tact. En Water 7, Nami es 
            quien encuentra a Usopp después de que le roban el dinero y lo derrotan, e incluso le asegura que no es su culpa sin preocuparse por el 
            dinero, siendo ésta una de las escasas ocasiones donde Nami pone el dinero en segundo plano. Cuando se reencuentran tras el salto 
            temporal, Usopp derrota a la Falsa Nami, salvando a la verdadera, la cual lo abraza de la emoción tras no haberlo visto por dos años, y 
            rápidamente huyen del lugar mientras hablan de todo lo que pasó en los últimos dos años.
        </p>
        <p>
            Aunque al principio intenta negarle a Nico Robin su ingreso a la tripulación por considerarla muy peligrosa, eventualmente cede ante 
            sus trucos graciosos. Robin lo apodó "naga hana-kun" (Nariz larga-kun) en referencia a su característica nariz. En la saga de Enies 
            Lobby, a pesar de sus conflictos con el resto de la tripulación, Usopp no duda en enfrentarse al gobierno mundial por rescatarla, e 
            incluso incendia la bandera del gobierno bajo órdenes de Luffy, disfrazado como Sogeking. En el Umi Ressha de camino a Enies Lobby, 
            alcanza el vagón de Robin e intenta convencerla de que regrese, pero ella no puede negarse y le dice que le deje aceptar su próximo 
            destino. Tras salir de Enies Lobby, Usopp se alegra inmensamente de haberla salvado en Enies Lobby, y ella sonríe al verlo de regreso 
            en la banda más tarde. En Thriller Bark, su relación ya es más amistosa, e incluso Usopp llega a llorar cuando ella comienza a 
            desvanecerse junto a Sanji, Zoro y Luffy.
        </p>
        <p>
            Su relación con Franky se basa en la construcción de artefactos nuevos y mejoras para el Thousand Sunny, ya que Usopp tiene un 
            conocimiento básico de la carpintería. En Water 7, la banda de Franky había derrotado a Usopp, causando en parte su pelea con Luffy y 
            los demás, por lo que Usopp no confía inicialmente en él. Franky se encuentra con Usopp antes de que la tormenta ataque a Water 7, y 
            le otorga un lugar seguro para él el Going Merry, esperando así atraer a Luffy. Franky le hace notar, a la fuerza, que el Going Merry 
            no puede seguir navegando, pero la determinación de Usopp le recuerda a su entusiasmo en el pasado e incluso escribe una sentimental 
            canción sobre él. Los CP9 se llevan a ambos a Enies Lobby, y en la batalla comienzan a unirse aún más. Finalmente, cuando ambos entran 
            en la banda de los sombreros de paja nuevamente, comienzan a ser buenos amigos.
        </p>
        <p>
            También cuidaba mucho al Going Merry porque era un regalo de Kaya.
        </p>
        <h2><a id="kaya"></a>Kaya</h2>
        <p>
            Se hizo amigo de Kaya cuando sus padres murieron desde entonces siempre iba a su casa y le contaba mentiras para animarla. Esto hacía 
            que el rostro de Kaya se iluminara y poco a poco la ayudara con su enfermedad. Su amistad con Kaya llama la atención del mayordomo, 
            Kurahadol, quien le dice a Kaya que debe evitar tener una relación con él debido a la mala reputación de Usopp. Cuando Usopp descubre 
            la verdadera identidad del mayordomo, intenta advertir a Kaya para protegerla, pero ella no es capaz de creerle. Más tarde, la verdad 
            es revelada ante sus ojos, pero Usopp llega a salvarla antes de que fuese asesinada por Jango. Luego de esto, la amistad entre Usopp y 
            Kaya resurge, y quedan en términos de amistad mientras él zarpa al mar con Luffy, Zoro y Nami.
        </p>
        <p>
            En Water 7, se niega rotundamente a reemplazar al barco ya que era un regalo de Kaya. Al finalizar la saga de Enies Lobby, Kaya, a 
            diferencia del resto del pueblo con excepción de Ninjin, Tamanegi y Piiman, logra identificar a Usopp en el cartel de recompensa de 
            Sogeking, el cual se quedaría e incluso puede ser visto colgando en su habitación tras el salto temporal, y luego dice que cuando 
            Usopp regrese al pueblo, ella se encargará de cuidar todas sus heridas. Hay indicios de una relación romántica, pero ya Oda negó todo 
            romance en One Piece, por lo que lo más probable es que se trate simplemente de amistad.
        </p>
        <h2><a id="pirates"></a>Piratas de Usopp</h2>
        <p>
            Son tres niños que con los que Usopp formo su banda 5 años antes de unirse a la de Luffy, después de que Usopp se fue al mar ellos 
            continuaron con su tradición de gritar "VIENEN LOS PIRATAS". Al igual que Kaya, pueden identificar a Usopp en el cartel de recompensa 
            de Sogeking.
        </p>
    </main>    
    <footer class="pg-footer">
        <div>
            <p>2022 © <strong>Pol Brunet Font</strong></p>
            <p><a href="">Privacy Policy</a>   ·   <a href="">Cookie Policy</a>   ·   <a href="">Terms and conditions</a></p>
        </div>        
    </footer>
</body>
</html>